
$navbar-light-color: white;
$navbar-light-hover-color: rgb(170, 170, 170);
$navbar-light-active-color: rgb(170, 170, 170);
$border-color: #cbcbcb;

@import "../node_modules/bootstrap/scss/bootstrap";
